version: "2"

services:
    ci-build:
        image: openjdk:8-jdk
        volumes:
            - ./orderapi:/src
        working_dir: /src
        command: /bin/bash -c "dotnet restore && dotnet publish -c Release -o bin ."
